doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title= title
    // Bootstrap core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')

    //navbar side
    link(href='assets/bootstrap/css/bootstrap.css', rel='stylesheet')
    
    // Custom styles for this template
    link(href='css/shop-homepage.css', rel='stylesheet')

    //navbar side
    script(src='assets/js/jquery-1.11.1.min.js' )
    script(src='assets/bootstrap/js/bootstrap.min.js')
    script(src='design.js')
    link(href='design.css', rel='stylesheet')

  body
    .wrap
      nav.nav-bar.navbar-inverse(role='navigation')
        #top-menu.container-fluid.active
          a.navbar-brand(href='/home  ') Lexus E-Commerce
          ul.nav.navbar-nav
            li.dropdown.movable
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                span.caret
                span.fa.fa-4x.fa-child
              ul.dropdown-menu(role='menu')
                li
                  a(href='#')
                    span.fa.fa-user
                    | My Profile
                li
                  a(href='#')
                    span.fa.fa-gear
                    | Settings
                li.divider
                li
                  a(href='#')
                    span.fa.fa-power-off
                    | Logout
      aside#side-menu.aside(role='navigation')
        ul.nav.nav-list.accordion
          li.nav-header
            .link
              i.glyphicon.glyphicon-plus 
              | Add Products or Services 
              span.glyphicon.glyphicon-menu-down
            ul.submenu
              li
                a(href='/product') Add Product
              li
                a(href='/service') Add Service
              
          li.nav-header
            .link
              i.glyphicon.glyphicon-gift
              | Buy Products or Services 
              span.glyphicon.glyphicon-menu-down
            ul.submenu
              li
                a(href='/buyProdServ') Buy Products
              li
                a(href='/buyService') Buy Services
                                  
          li.nav-header
            .link
              i.glyphicon.glyphicon-shopping-cart
              | My Order List 
              span.glyphicon.glyphicon-menu-down
            ul.submenu
              li
                a(href='/myOrderList') My Product Order List
              li
                a(href='/myServiceOrderList') My Service Order List
                    
          li.nav-header
            .link
              i.glyphicon.glyphicon-tasks
              | My Products And Services 
              span.glyphicon.glyphicon-menu-down
            ul.submenu
              li
                a(href='/myProdServ') My Products
              li
                a(href='myServ') My Services
                    
          li.nav-header
            .link
              i.glyphicon.glyphicon-hourglass
              | My Pending Orders 
              span.glyphicon.glyphicon-menu-down
            ul.submenu
              li
                a(href='/myPendingOrderService') Pending Services Orders
              li
                a(href='/myPendingOrderProduct') Pending Products Orders

                
          
          
      // Body content
      .content
        div
          a.side-menu-link.burger(href='#menu')
            span#bgrOne.burger_inside
            span#bgrTwo.burger_inside
            span#bgrThree.burger_inside
        section.content-inner
          != messages('message', locals)
          block content
        // /.col-lg-3
        .col-lg-12
          #carouselExampleIndicators.carousel.slide.my-4(data-ride='carousel')
            ol.carousel-indicators
              li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
              li(data-target='#carouselExampleIndicators', data-slide-to='1')
              li(data-target='#carouselExampleIndicators', data-slide-to='2')
            .carousel-inner(role='listbox')
              .carousel-item.active
                img.d-block.img-fluid(src='background4.jpg', alt='First slide')
              .carousel-item
                img.d-block.img-fluid(src='background2.jpg', alt='Second slide')
              .carousel-item
                img.d-block.img-fluid(src='background3.jpg', alt='Third slide')
            a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next
          .container
          .h3 Products Available
          .row
            .col-lg-4.col-md-6.mb-4
              .card.h-100
                a(href='#')
                  img.card-img-top(src='prod1.jpg', alt='')
                .card-body
                  h4.card-title
                    a(href='#') Item One
                  h5 $24.99
                  p.card-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                .card-footer
                  small.text-muted ★ ★ ★ ★ ☆
            .col-lg-4.col-md-6.mb-4
              .card.h-100
                a(href='#')
                  img.card-img-top(src='prod2.jpg', alt='')
                .card-body
                  h4.card-title
                    a(href='#') Item Two
                  h5 $24.99
                  p.card-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.
                .card-footer
                  small.text-muted ★ ★ ★ ★ ☆
            .col-lg-4.col-md-6.mb-4
              .card.h-100
                a(href='#')
                  img.card-img-top(src='prod3.jpg', alt='')
                .card-body
                  h4.card-title
                    a(href='#') Item Three
                  h5 $24.99
                  p.card-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                .card-footer
                  small.text-muted ★ ★ ★ ★ ☆
            .col-lg-4.col-md-6.mb-4
              .card.h-100
                a(href='#')
                  img.card-img-top(src='prod4.jpg', alt='')
                .card-body
                  h4.card-title
                    a(href='#') Item Four
                  h5 $24.99
                  p.card-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                .card-footer
                  small.text-muted ★ ★ ★ ★ ☆
            .col-lg-4.col-md-6.mb-4
              .card.h-100
                a(href='#')
                  img.card-img-top(src='prod5.jpg', alt='')
                .card-body
                  h4.card-title
                    a(href='#') Item Five
                  h5 $24.99
                  p.card-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.
                .card-footer
                  small.text-muted ★ ★ ★ ★ ☆
            .col-lg-4.col-md-6.mb-4
              .card.h-100
                a(href='#')
                  img.card-img-top(src='prod6.jpg', alt='')
                .card-body
                  h4.card-title
                    a(href='#') Item Six
                  h5 $24.99
                  p.card-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                .card-footer
                  small.text-muted ★ ★ ★ ★ ☆
            .col-lg-4.col-md-6.mb-4
              .card.h-100
                a(href='#')
                  img.card-img-top(src='phone1.jpg', alt='')
                .card-body
                  h4.card-title
                    a(href='#') Samsung Galaxy 7
                  h5 $24.99
                  p.card-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                .card-footer
                  small.text-muted ★ ★ ★ ★ ☆
            .col-lg-4.col-md-6.mb-4
              .card.h-100
                a(href='#')
                  img.card-img-top(src='phone2.jpg', alt='')
                .card-body
                  h4.card-title
                    a(href='#') Telego Mobile Philippines
                  h5 $24.99
                  p.card-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                .card-footer
                  small.text-muted ★ ★ ★ ★ ☆
            .col-lg-4.col-md-6.mb-4
              .card.h-100
                a(href='#')
                  img.card-img-top(src='phone3.jpg', alt='')
                .card-body
                  h4.card-title
                    a(href='#') Nokia 1 TA-1056
                  h5 $24.99
                  p.card-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                .card-footer
                  small.text-muted ★ ★ ★ ★ ☆
          .container
          .h3 Graphic Design and Programming Services
          .row
            .col-lg-4.col-md-6.mb-4
              .card.h-100
                a(href='#')
                  img.card-img-top(src='services1.jpg', alt='')
                .card-body
                  h4.card-title
                    a(href='#') Item One
                  h5 $24.99
                  p.card-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                .card-footer
                  small.text-muted ★ ★ ★ ★ ☆
            .col-lg-4.col-md-6.mb-4
              .card.h-100
                a(href='#')
                  img.card-img-top(src='services2.jpg', alt='')
                .card-body
                  h4.card-title
                    a(href='#') Item Two
                  h5 $24.99
                  p.card-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.
                .card-footer
                  small.text-muted ★ ★ ★ ★ ☆
            .col-lg-4.col-md-6.mb-4
              .card.h-100
                a(href='#')
                  img.card-img-top(src='services3.jpg', alt='')
                .card-body
                  h4.card-title
                    a(href='#') Item Three
                  h5 $24.99
                  p.card-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                .card-footer
                  small.text-muted ★ ★ ★ ★ ☆
            .col-lg-4.col-md-6.mb-4
              .card.h-100
                a(href='#')
                  img.card-img-top(src='services4.jpg', alt='')
                .card-body
                  h4.card-title
                    a(href='#') Item Three
                  h5 $24.99
                  p.card-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                .card-footer
                  small.text-muted ★ ★ ★ ★ ☆  
            .col-lg-4.col-md-6.mb-4
              .card.h-100
                a(href='#')
                  img.card-img-top(src='services5.jpg', alt='')
                .card-body
                  h4.card-title
                    a(href='#') Item Three
                  h5 $24.99
                  p.card-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                .card-footer
                  small.text-muted ★ ★ ★ ★ ☆  
            .col-lg-4.col-md-6.mb-4
              .card.h-100
                a(href='#')
                  img.card-img-top(src='services6.jpg', alt='')
                .card-body
                  h4.card-title
                    a(href='#') Item Three
                  h5 $24.99
                  p.card-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                .card-footer
                  small.text-muted ★ ★ ★ ★ ☆     
          // /.row
          // /.col-lg-9
          // /.row
          // /.container
          // Footer
          footer.py-5.bg-dark
            .container
              p.m-0.text-center.text-white All Rights Reserved | Lexus E-Commerce 2018
            // /.container
            // Bootstrap core JavaScript
            script(src='vendor/jquery/jquery.min.js')
            script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
